<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471592011047-8nkprb8nanotmpsc2so8ca7akgnkqdrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471592011047-8nkprb8nanotmpsc2so8ca7akgnkqdrj</string>
	<key>API_KEY</key>
	<string>AIzaSyCvpCHFP_XQ6rx0EzfZA9UG8bA8XY-4pBg</string>
	<key>GCM_SENDER_ID</key>
	<string>471592011047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakhob.instagramclone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-5e27a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-5e27a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471592011047:ios:52f4aaa02239990a055502</string>
</dict>
</plist>